<div class="budget-container">
    <div class="budget-nav">
        <a href="" ng-click="add()">Add Budget</a>
        <ul class="budget-list">
            <li ng-repeat="b in bdgts | orderBy:'-id' track by $index"
                ng-click="load(b)"
                ng-class-odd="'odd'"
                ng-class="{selected: (b.id == bdgt.id)}">
                <strong>{{b.name}}</strong>&nbsp;<a href="" ng-click="remove($event, b)">remove</a><br />
                {{b.strt | date:'MM/dd/yyyy'}} - {{b.end | date:'MM/dd/yyyy'}}
            </li>
        </ul>
    </div>
    <div class="budget-details"
         ng-hide="bdgt.name === undefined">
        <span>{{status}}</span><br />
        Name: <input type="text" ng-model="bdgt.name" />
        <label ng-repeat="a in accts">
            {{a.name}}&nbsp;<input type="checkbox" ng-model="a['include']" />
        </label><br />
        Start: <input julep-date ng-model="bdgt.strt" type="date" />
        End: <input julep-date ng-model="bdgt.end" type="date" />
        <button ng-click="update(bdgt, $event)">Update Budget</button>
        <table>
            <tbody>
                <tr>
                    <td colspan="3">Starting Amount</td>
                    <td colspan="2" class="text-right">{{(bdgt.strtAmt / 100).toFixed(2)}}</td>
                    <td colspan="3"></td>
                </tr>
                <tr class="table-header">
                    <td colspan="3"></td>
                    <td>Budget</td>
                    <td>Spent</td>
                    <td>Left</td>
                    <td>Last Month</td>
                    <td>Last Year</td>
                    <td>6 mo avg</td>
                </tr>
                <tr ng-hide="show(group)"
                    ng-repeat-start="(groupName, group) in bdgt.groups"
                    class="group-header">
                    <td>
                        <a href="" ng-click="group.show = false">x</a>
                        <span ng-click="moveGroup(bdgt.groups, $index, -1)">&#x25B2;</span>
                        <span ng-click="moveGroup(bdgt.groups, $index,  1)">&#x25BC;</span>
                    </td>
                    <td colspan="2">
                        <span>{{groupName}}</span>
                    </td>
                    <td class="text-right">{{(group.bdgt / 100).toFixed(2)}}</td>
                    <td class="text-right">{{(group.spent  / 100).toFixed(2)}}</td>
                    <td class="text-right">{{((group.bdgt - group.spent) / 100).toFixed(2)}}</td>
                    <td class="text-right">{{(group.lastMo  / 100).toFixed(2)}}</td>
                    <td class="text-right">{{(group.thisMoLastYr  / 100).toFixed(2)}}</td>
                    <td class="text-right">{{(group.lastSixMos   / 100 / 6).toFixed(2)}}</td>
                </tr>
                <tr ng-hide="show(cat)" ng-repeat="(catName, cat) in group.cats | orderBy:['cat']">
                    <td />
                    <td>
                        <a href="" ng-click="cat.show = false">x</a>
                    </td>
                    <td>
                        <span>{{catName}}</span>
                    </td>
                    <td>
                        <input type="text" class="text-right"
                            ng-if="cat.cat != 'uncategorized'" julep-curr ng-model="cat.bdgt"
                            ng-blur="updateCat(cat, group, bdgt, $event)" />
                    </td>
                    <td class="text-right">
                        <a href="" ng-click="setBudget(cat.spent, cat, group, bdgt)"
                            title="Use as budget">{{(cat.spent / 100).toFixed(2)}}</a></td>
                    <td class="text-right">{{((cat.bdgt - cat.spent) / 100).toFixed(2)}}</td>
                    <td class="text-right">
                        <a href="" ng-click="setBudget(cat.last, cat, group, bdgt)"
                            title="Use as budget">{{(cat.lastMo / 100).toFixed(2)}}</a></td>
                    <td class="text-right">
                        <a href="" ng-click="setBudget(cat.lastYr, cat, group, bdgt)"
                            title="Use as budget">{{(cat.thisMoLastYr / 100).toFixed(2)}}</a></td>
                    <td class="text-right">
                        <a href="" ng-click="setBudget(cat.avg / 6, cat, group, bdgt)"
                            title="Use as budget">{{(cat.lastSixMos  / 100 / 6).toFixed(2)}}</a></td>
                </tr>
                <tr ng-hide="!group.show" ng-repeat-end>
                    <td colspan="9" />
                </tr>
                <tr class="budget-totals">
                    <td colspan="3">Totals</td>
                    <td class="text-right">{{(bdgt.bdgt / 100).toFixed(2)}}</td>
                    <td class="text-right">{{(bdgt.spent / 100).toFixed(2)}}</td>
                    <td class="text-right">{{((bdgt.bdgt - bdgt.spent) / 100).toFixed(2)}}</td>
                    <td colspan="3"></td>
                </tr>
                <tr class="budget-totals">
                    <td colspan="3">Month End</td>
                    <td colspan="1" class="text-right">{{((bdgt.strtAmt + bdgt.bdgt) / 100).toFixed(2)}}</td>
                    <td colspan="1" class="text-right">{{((bdgt.strtAmt + bdgt.spent) / 100).toFixed(2)}}</td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
