Account: <select ng-model="acctId" ng-change="txFilter()">
<option value="">All accounts</option>
<option ng-repeat="a in accts" value="{{a.id}}">{{a.name}}</option>
</select>
From: <input type="date" julep-date ng-model="from" ng-change="txFilter()" />
To: <input type="date" julep-date ng-model="to" ng-change="txFilter()" />
Un-categorized: <input type="checkbox" ng-model="uncategorized" ng-change="txFilter()" />
Show: <select ng-model="pageShow">
<option value="25">25</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="200">200</option>
<option value="{{txs.length}}">All</option>
</select>
Search: <input type="search" julep-search ng-model="search" />
<datalist id="categories">
    <option ng-repeat="cat in cats" label="{{cat.group}}">{{cat.cat}}</option>
</datalist>
<table id="tx">
    <thead>
        <tr>
            <th></th>
            <th>Account</th>
            <th>Date</th>
            <th>Description</th>
            <th>Categories</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody >
        <tr ng-repeat="tx in txs | orderBy:'-id' | filter:search | limitTo:pageShow track by $index"
            ng-class-odd="'odd'"
            julep-edit-row="tx"
            ng-click="setSelectedRow($index)"
            tabindex="0"
            ng-focus="setSelectedRow($index)"
            ng-class="{editing: tx.edit}">
            <td>
                <span class="controls" ng-show="!tx.edit" ng-click="tx.edit=true">E</span>
                <span class="controls" ng-show="tx.edit" ng-click="tx.edit=false">X</span>
            </td>
            <td>{{acctsById[tx.acctId].name}}</td>
            <td>{{tx.date | date:'MM/dd/yyyy'}}</td>
            <td>
              <input type="text" ng-model="tx.desc" ng-show="tx.edit" ng-keyup="updateTx(tx, $event)" />
              <span ng-show="!tx.edit">{{tx.desc}}</span>
            </td>
            <td class="category-input">
                <input type="text" ng-model="tx.cat[0].cat" ng-show="tx.edit" ng-keyup="updateTx(tx, $event)" list="categories" />
                <span ng-show="!tx.edit">{{ tx.cat[0].cat }}</span>
            </td>
            <td class="text-right">{{ (tx.amt / 100) | currency}}</td>
            <td class="text-right">{{ (tx.balance / 100) | currency}}</td>
        </tr>
    </tbody>
</table>
