<!doctype html>
<html lang="en" ng-app="julep" data-ng-csp>
    <head>
        <meta charset="utf-8">
        <title>julep</title>
        <link rel="stylesheet" href="styles/main.css">

        <script src="libraries/angular.js"></script>
        <script src="libraries/angular-route.js"></script>
        <script src="libraries/d3.min.js"></script>
        <script src="libraries/underscore.js"></script>
        <script src="scripts/julep.js"></script>
    </head>
    <body>
    	<ul class="nav-ctrl" ng-controller="navCtrl" >
    		<li ng-repeat="nav in navs">
    			<a href="" ng-click="$parent.goTo(nav.path)">{{nav.label}}</a>
    		</li>
		</ul>
		<div ng-view></div>
    </body>
</html>
